.displayFlex {
  display: flex;
}
.p_all_5 {
  padding: 5px;
}
.m_t_-5 {
  margin-top: -5px !important;
}
.m_sr_5 {
  margin-right: 5px;
}
.m_b_10 {
  margin-bottom: 10px;
}
.m_b_6 {
  margin-bottom: 6px;
}
.m_tb_5 {
  margin: 5px 0;
}
.m_tb_10 {
  margin: 10px 0;
}
.displayData {
  padding: 0 0 0 10px;
}
.green {
  color: "#fff";
  background-color: green;
}
.cardReviews {
  background-color: #f8f8f8 !important;
}
.mapcontainerHospital {
  height: 110px;
  width: 100%;
}
.reviewContainer {
  padding: 0 2px;
}
.covidNumberLabel {
  font-weight: 600;
  margin-right: 5px;
}
