.selectedH_ZonesContainer {
  display: flex;
  flex-wrap: wrap;
}
.availableHospitalZones {
  display: flex;
  flex-wrap: wrap;
}
.hospitalAvatar {
  background-color: #ecd0d0 !important;
  border: 5px solid #f50057;
}
.m_all_0 {
  margin: 0 !important;
}
.searchContainer {
  margin: 0px 10px 10px 0px;
}
.searchIconHolder {
  margin: 0 0 10px 10px;
  padding-top: 15px;

  background-color: #37698d52;
  border-bottom: 2px solid #acacac;
  color: #004887;
}
.w_100 {
  width: 100%;
}
.disclaimerHospital {
  font-size: 0.75rem !important;
  padding: 5px 15px 20px 5px;
  color: #a8b5c3;
}
