.mapcontainer {
  height: 110px;
  width: 100%;
  padding: 5px;
}
.AddressContainer {
  padding: 5px;
  flex-wrap: wrap;
}
.locationContainer {
  padding: 10px 0;
}
.CustomHeader {
  margin: 2px 0;
}
.headerContainer {
  display: flex;
  justify-content: center;
}
