@import "./styles/mixins.style.scss";

.App {
  text-align: center;
}

.cardGeneric {
  margin: 5px 0;
  text-align: left;
}

.MuiCardContent-root {
  padding: 10px !important;
}
.MuiContainer-root {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.MuiTableCell-root {
  text-align: left !important;
  padding: 5px !important;
}
.MuiFab-sizeSmall {
  width: 35px !important;
  height: 30px !important;
}
.MuiDialogTitle-root {
  padding: 10px 10px 5px 10px !important;
}
.MuiCardHeader-root {
  padding: 10px !important;
}
.MuiDialogContent-root {
  padding: 8px 10px !important;
}
.MuiTypography-h6 {
  line-height: initial !important;
}
.displayFlex {
  display: flex;
}

.displaySmall {
  height: 80px !important;
}
.expandContractContainer {
  float: right;
  margin-right: -10px;
}
.showMoreButton {
  max-height: "20px";
}

.excerpt-hidden {
  height: 5.5rem;
  overflow: hidden;
  position: relative;
}
.excerpt-hidden:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, white 100%);
}

.excerpt-visible {
  height: auto;
  overflow: auto;
}
.makeStyles-root-1 {
  left: 16px;
  right: 0 !important;
  width: 50px;
}
.MuiFab-secondary {
  background-color: #37698d !important;
}
#containerHospitalList .MuiCardHeader-avatar {
  margin-right: 5px !important;
}
.MuiIconButton-root {
  padding: 12px 0 !important;
}
.o_9 {
  opacity: 0.9;
}
.font_l {
  font-size: large;
}
.MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.loadTrackerWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}
.loaderContainer {
  display: flex;
  padding: 50px;
  justify-content: center;
}
.loaderTextContainer {
  color: #93a7c5;
}
.justifyCenter {
  justify-content: center;
}

// New Classes for Customization

.hospitalCardContainer {
  @include space(margin, top, 15px);
  @include space(margin, bottom, 35px);
}

.transparentBorder {
  box-shadow: 0px 3px 3px 0px #00000033, 3px 3px 2px 3px #00000026, 0px 1px 8px 0px #0000001f;
}
.shadowCustom {
  box-shadow: 0px 0px 0px 0px #00000033, 0px 2px 7px 4px #00000026, 0px 1px 0px 0px #0000001f;
}
.MuiPaper-elevation3 {
  box-shadow: 0px 3px 3px -2px #0000002e, 0px 3px 4px 0px #0000002b, 0px 1px 8px 0px #000000a3 !important;
}
